body {
  background: #3d3d3d;
}
.slide {
  color: white;
  position: relative;
  display: none;
  line-height: 1.5em;
}

.slide h2 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'IM Fell French Canon SC', serif;
  letter-spacing: 5px;
  display: block;
  margin: 20px auto 30px;
  width: 500px;
  text-align: center;
  text-shadow: 0px 0px 15px #ccc;
  -moz-text-shadow: 0px 0px 15px #ccc;
  -webkit-text-shadow: 0px 0px 15px #ccc;
}
.slide h3 {
  font-size: 20px;
  width: 700px;
  text-align: center;
  margin: 10px auto 5px auto;
  display: block;
}
.slide h4 {
  font-size: 18px;
  width: 700px;
  text-align: center;
  margin: 10px auto 5px auto;
  display: block;
}

.slide ul {
  font-family: Helvetica, Verdana, Arial;
  list-style-position: outside;
  font-size: 30px;
  list-style-type: disc;
  padding: 5px 0px 20px 20px;
  margin: 0 auto 20px;
  width: 600px;

}
.slide li {
  margin: 10px;
  font-size: 18px;
  line-height: 20px;
}

.slide .animStep {
  display: none;
}
.slide .animStep.strike {
  display: block;
}
.slide .animStep.animDone.strike a {
  text-decoration: line-through;
  opacity: .3;
}

.slide pre {
  display: block;
  margin: 10px auto 60px;
  line-height: 15px;
  font-family: 'Anonymous Pro';
  max-width: 800px;
}
.slide img {
  display: block;
  margin: 0 auto;
}
.slide .listgroup {
  width: 660px;
  margin: 10px auto;
  overflow: hidden;
  text-align: center;
}
.slide ul.nav {
  float: left;
  font-size: 18px;
  width: 200px;
  list-style-type: none;
}

.slide  a {
  color: white;
  text-decoration: none;
}
.slide .listgroup a {
  display: block;
  clear: both;
}

iframe {
  background: white;
  margin: 0 auto;
  display: block;
  padding: 20px
}

.slide .content {
  width: 600px;
  margin: 10px auto;
}

/*compare*/
.comparison {
  width: 600px;
  margin: 10px auto 20px;
/*
    .col .content
      border 2px solid gray

    .first
      text-align left
      .content
        border-right 0px none
    .mid
      text-align center
      .content
        padding 20px 10px
        margin -20px 0px
    .last
      text-align right
      .content
        border-left 0px none
    */
}
.comparison col {
  width: 30%;
}
.comparison col.mid {
  width: 35%;
}
.comparison col.ref {
  width: 5%;
}
.comparison tr td,
.comparison tr th {
  position: relative;
  padding: 0.5em 2ex;
  line-height: 1em;
  text-align: left;
}
.comparison tr td:first-child,
.comparison tr th:first-child {
  text-align: right;
}
.comparison tr td.mid,
.comparison tr th.mid {
  text-align: center;
}
.comparison tr td.ref,
.comparison tr th.ref {
  text-align: center;
}
.comparison tbody td {
  border: 1px solid rgba(0,0,0,0.20);
}
.comparison th {
  background: #ccc;
}
.comparison th.kb {
  font-size: 1.4em;
}
.comparison td {
  background: #ccc;
}
.comparison td.kb {
  font-size: 1.3em;
}
.comparison td.hidden {
  border: 0px none;
  background: none transparent;
}
.comparison td.yes {
  background: #80b34d;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.20);
}
.comparison td.no {
  background: #bf4040;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.20);
}
.comparison td.own {
  text-align: center;
  background: #80b34d;
  color: #1a240f;
  text-shadow: 0px -1px 0px #b3e085;
}
.comparison td.done {
  font-family: Helvetica, Arial, sans-serif;
  background: #80b34d;
  color: #33471f;
  text-shadow: 0px -1px 0px #1a240f;
  font-size: 2em;
  padding: 0px;
  text-align: center;
}
.comparison td.ref {
  padding-left: 0px;
  padding-right: 0px;
  border: 0px none;
  line-height: 0.5em;
}
.comparison:hover tr td {
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
.comparison:hover tr:hover td {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.comparison td.dependent:before {
  content: 'â–¼';
  display: block;
  position: absolute;
  top: -0.5em;
  left: 50%;
  font-size: 20px;
  line-height: 1em;
  width: 3em;
  margin: -2px -1.5em;
  color: #33471f;
}
.comparison thead {
  color: black;
}

button {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  opacity: 0;
}
button:hover {
  opacity: .3;
}
.slide_list {
  position: fixed;
  bottom: 60px;
  left: 10px;
  display: none;
  opacity: .3;
}
.slide_list li {
  margin: 5px 0;
  padding: 2px;
  background: #ccc;
  cursor: pointer;
  width: 250px;
}
.slide_list li:hover {
  font-weight: bold;
}

pre.pretty-center.prettyprint {
  padding: 20px 0 10px 0;
}
.pretty-center {
  width: 600px;
  margin: 0 auto;
}

.pretty-center.wide {
  width: 700px;
}

.example-link {
  margin: 20px;
  float: right;
}