<!DOCTYPE HTML>
<html>
  <head>
    <title>Unified CMS - Frontend</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&v2' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="prettify/prettify.css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/hashchange.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="prettify/prettify.js"></script>
  </head>
  <body onload="prettyPrint();">

  <div class="slide">
    <h2>Unified CMS - Frontend</h2>
    <img src="img/logo-bi.png" />
    <h3>Topic1, topic2, topic3</h3>
  </div>

  <div class="slide">
    <h2>Goal</h2>
    <h3 style="font-size: 30px; line-height: 40px; margin-bottom: 20px;">
      Use modern tools and frameworks to build a consistant and easily modified multi-site CMS frontend.
    </h3>
    <h3 class="animStep">angular - framework</h3>
    <h3 class="animStep">yeoman - scaffolding</h3>
    <h3 class="animStep">bower - package managment</h3>
    <h3 class="animStep">grunt - build tool</h3>
    <h3 class="animStep">karma - test runner</h3>
    <h3 class="animStep">jasmine - test descriptor</h3>
    <h3 class="animStep">ngdocs - documentation generator</h3>
  </div>


  <div class="slide">
    <h2>Thats a lot of stuff...</h2>
    <h3 class="animStep">How does each piece solve a problem?</h3>
  </div>

  <div class="slide">
    <h2>Angular.js</h2>
    <img src="img/AngularJS-large.png" />
    <h3 style="font-size: 30px; line-height: 40px; margin-bottom: 20px;">
      The best single-page-app framework. Evar.
    </h3>
    <h3 class="animStep">Declarative data-binding</h3>
    <h3 class="animStep">Dependancy injected everything</h3>
    <h3 class="animStep">Clear separation of concerns</h3>
  </div>

  <div class="slide">
    <h2>Angular in 10 minutes</h2>
    <div class="animStep">
      <h2>Services</h2>
      <h3>data stores, persistance, business logic</h3>
    </div>
    <br />
    <div class="animStep">
      <h2>Controllers</h2>
      <h3>service consumers, view managers</h3>
    </div>
    <br />
    <div class="animStep">
      <h2>Directives</h2>
      <h3>view widgets</h3>
    </div>
    <br />
    <div class="animStep">
      <h2>Filters</h2>
      <h3>view helpers</h3>
    </div>
  </div>

  <div class="slide">
    <h2>Services / Controller interaction</h2>
    <h3>Define a Service</h3>
    <pre class="prettyprint lang-js pretty-center">
    var app = angular.module('myapp', []);

    app.factory('User', function(){
      var user = { name: 'Bob', age: 30 };

      return {
        get: function() { return user; }
      };
    });
    </pre>

    <h3>Use in a controller</h3>
    <pre class="prettyprint lang-js pretty-center">
    app.controller('ProfileController', function($scope, User) {
      $scope.user = User.get();
    });
    </pre>

    <h3>Visible in a template</h3>
    <pre class="prettyprint lang-html pretty-center">
      &lt;div ng-app="myapp"&gt;
        &lt;div ng-controller="ProfileController"&gt;
          &lt;div&gt;{{user}}&lt;/div&gt;
          &lt;input type="text" ng-model="user.name" /&gt;
          &lt;input type="text" ng-model="user.age" /&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    </pre>
    <a href="http://jsfiddle.net/C4yzM/" target="_new" class="example-link">Working Example</a>
  </div>

  <div class="slide">
    <h2>Directives</h2>
    <pre class="prettyprint lang-js pretty-center">
      app.directive('profileEditor', function() {
        return {
          restrict: 'E',
          template: '&lt;div&gt;{{user}}&lt;/div&gt; \
          &lt;input type="text" ng-model="user.name" /&gt; \
          &lt;input type="text" ng-model="user.age" /&gt;'
        };
      });
    </pre>
    <pre class="prettyprint lang-html pretty-center">
      &lt;div ng-app="myapp"&gt;
        &lt;div ng-controller="ProfileController"&gt;
          &lt;profile-editor&gt;&lt;/profile-editor&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    </pre>
    <a href="http://jsfiddle.net/nExWA/1/" target="_new" class="example-link">Working Example</a>
  </div>

  <div class="slide">
    <h2>Filters</h2>
    <pre class="prettyprint lang-js pretty-center wide">
      app.filter('paddedNumber', function() {
          return function(input) {
            return String(input).indexOf('.') > -1 ? input : input + '.00' ;
          };
      });
    </pre>
    <pre class="prettyprint lang-html pretty-center">
      &lt;div ng-app="myapp"&gt;
        &lt;div ng-controller="ProfileController"&gt;
          &lt;profile-editor&gt;&lt;/profile-editor&gt;
          {{ user.age | paddedNumber }}
        &lt;/div&gt;
      &lt;/div&gt;
    </pre>

    <a href="http://jsfiddle.net/98S4W/1/" target="_new" class="example-link">Working Example</a>
  </div>

  <ul class="slide_list">

  </ul>
  <button>List</button>
  </body>
</html>